<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="main">
        <a href="/login">Ⓜ Login</a>
        <h1>Create Account</h1>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="number" name="age" placeholder="age">
            <input type="text" name="username" placeholder="username">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input class="sub" type="submit" value="Create Account">   
        </form>
    </div>
</body>
</html>