<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsFeed</title>
    <link rel="stylesheet" href="styleNews.css">
</head>
<body>
    <div id="main">
        <a href="/profile">Ⓜ Profile</a>
        <div id="mainPost">
            <% let arr = [];%>
            <% user.forEach(function(val){ %>
                <% let name = val.username; %>
                <%val.post.forEach(function(posts){ %>
                    <% arr.push({name: name, comment : posts.comment, likes : posts.likes, _id: posts._id}) %>
                    
                <% })%>    
            <% }) %>  
            
            <% arr.forEach(function(posts){ %>
                <div class="mainposter">
                    <p class="username">@<%= posts.name%></p>
                    <p class="poster">
                           <%= posts.comment %>
                    </p>
                    <a href="/like/<%= posts._id %>"><%= posts.likes.length%> Like</a>
                </div>  
            <%})%>
        </div>
    </div>
</body>
</html>