
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
body {
    background-color: rgb(6, 21, 31);
}
#main{
    padding: 20px;
}
h1{
    color: aliceblue;
}
input{
    background-color: transparent;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    color: aliceblue;
    margin: 5px;
}
.sub {
    height: 40px;
    width: 150px;
    background-color: rgb(65, 65, 138);
    border-radius: 10px;
}
input:hover{
    border: 1px solid rgb(65, 65, 138) ;
}